@media only screen and (min-width:320px) {}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1140px) {}

@media only screen and (min-width:1280px) {}


@media screen and (min-width: 1340px) {
    .footer-theme .sub-title .contact-list {
        padding-right: 35px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 800px) {

    .top-header .header-contact-right li {
        display: none;
    }

    .top-header .header-contact-right li.currency,
    .top-header .header-contact-right li.google-translate {
        display: block;
    }

    .menu-right.pull-right #main-nav {
        display: none
    }


    .products-type ul.equipment-ul li {
        width: 50%;
        font-size: 13px;
    }

    .equipment-imgcntr {
        background-size: 85%;
    }

    .healthcare .healthcare-equipment li {
        width: 31%;
        margin: 0px 0px 10px 10px;
    }

    .service-category .category-list li {
        width: 31%;
        margin: 0px 0px 10px 10px;
    }

    .subscribe-form .form-control {
        width: auto;
    }

    .footer-social li {
        padding-right: 8px;
    }

    .tab-product .tab-content.nav-material .tab-pane {
        width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .tab-product .tab-content.nav-material .tab-pane table {
        margin-bottom: 15px;
    }

    .tab-product .tab-content.nav-material .tab-pane table th,
    .tab-product .tab-content.nav-material .tab-pane table td {
        padding: 5px;
    }

    .main-menu {
        /* overflow: hidden; */
    }

    .top-header {
        margin: 0px 0px 10px 0px;
    }

    .footer-social i,
    .social-white i {
        font-size: 16px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 767px) {

    .main-menu .menu-left {
        width: 100%;
        justify-content: center;
    }

    .product-wrapper-grid .product-box .img-wrapper,
    .product-wrapper-grid .product-wrap .img-wrapper {
        min-height: inherit;
    }

    .products-type .title1 h2.title-inner1,
    .healthcare .title1 h2.title-inner1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {

    .main-menu .menu-left {
        justify-content: flex-start;
    }

    .home-slider .slider-contain .caption {
        width: 100%;
        max-width: 100%;
        margin: 15px;
    }

    .healthcare .healthcare-equipment li {
        padding: 5px 5px;
        width: 45%;
        display: block;
        text-align: center;
        margin: 0px 0px 10px 10px;
    }

    .healthcare .healthcare-equipment li span,
    .healthcare .healthcare-equipment li a {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 0px;
    }


    .healthcare .healthcare-equipment li img {
        height: auto;
    }



    .service-category .category-list li {
        padding: 5px 5px;
        width: 45%;
        display: block;
        text-align: center;
        margin: 0px 0px 10px 10px;
    }

    .service-category .category-list li span,
    .service-category .category-list li a {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 14px;
        padding: 0px;
    }


    .service-category .category-list li img {
        height: auto;
    }



    .product-box .img-wrapper,
    .product-wrap .img-wrapper {
        min-height: inherit;
    }

    .equipment-imgcntr {
        display: none;
    }
}
