@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/



body { background: #fff; margin: 0px; font-family: 'Montserrat', sans-serif; font-size: 14px; color: #333; overflow: hidden; overflow-y: auto }

.nopadding { padding: 0 !important; margin: 0 !important; }
.nomargin { padding: 0 !important; margin: 0 !important; }
.container { margin: auto; max-width: 1200px; clear: both; padding: 0px; }
button.btn { background: #00a99d; border: 1px solid #00b4c4; color: #fff; font-size: 16px; padding: 10px 25px; font-weight:600; border-radius: 0px; text-transform: uppercase; }
button.btn:hover { background: #fff; border: 1px solid #00b4c4; cursor: pointer; color: #00b4c4; }
h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }
textarea { font-family: 'Montserrat', sans-serif; }
p { font-family: 'Open Sans', sans-serif; }


#page-container, #sidebar, #sidebar-alt { background-color: #00b4c4;}

.sidebar-content { width: 100%;}
.sidebar-nav a { color: #fff;}

.text-primary, .text-primary:hover, a, a:hover, a:focus, a.text-primary, a.text-primary:hover, a.text-primary:focus { color: #00b4c4;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #00b4c4;}

.btn-default { background-color: #00b4c4; border-color: #00b4c4; color: #fff;}

.delete-form{ float:left; margin:0px 0px 0px 10px }

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td, .table tbody + tbody, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { border-color: #999;}

.block { border: 1px solid #999;}

.dataTables_wrapper > div { border: 1px solid #999;}
.form-bordered .form-group {border-bottom: 0px dashed #999;}
.content-header { border-top: 1px solid #999; border-bottom: 1px solid #999;}
.breadcrumb-top { border-top: 1px solid #999; border-bottom: 1px solid #999;}
.form-control:focus {  border-color: #999;}
.form-control { border-color: #999;}
.input-group-addon {  border-color: #999;}
div.dataTables_filter input { max-width: 111px;}



@media screen and (min-width: 992px){
.sidebar-partial #sidebar:hover + #main-container, .sidebar-visible-lg #main-container {  margin-left: 250px;}
.sidebar-partial #sidebar:hover, .sidebar-visible-lg #sidebar, .sidebar-visible-lg.sidebar-partial #sidebar, .sidebar-alt-partial #sidebar-alt:hover, .sidebar-alt-visible-lg #sidebar-alt, .sidebar-alt-visible-lg.sidebar-alt-partial #sidebar-alt { width: 250px; opacity: 1;}
.sidebar-partial #sidebar, .sidebar-alt-partial #sidebar-alt { max-height: 100%;}
}