/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/



body {
    background: #fff;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    overflow-y: auto
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nomargin {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    margin: auto;
    max-width: 1200px;
    clear: both;
    padding: 0px;
}

button.btn, input.btn {
    background: #3b4964;
    border: 1px solid #3b4964;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    font-weight: 600;
    border-radius: 0px;
    text-transform: uppercase;
}

button.btn:hover, input.btn:hover {
    background: #fff;
    border: 1px solid #3b4964;
    cursor: pointer;
    color: #3b4964;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

textarea {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}





/* perfect-scrollbar v0.7.1 */

.ps {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.ps.ps--active-x>.ps__scrollbar-x-rail,
.ps.ps--active-y>.ps__scrollbar-y-rail {
    display: block;
    background-color: transparent;
}

.ps.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9;
}

.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: transparent;
    width: 8px;
}

.ps>.ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    bottom: 0px;
    /* there must be 'bottom' for ps__scrollbar-x-rail */
    height: 6px;
}

.ps>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    bottom: 2px;
    /* there must be 'bottom' for ps__scrollbar-x */
    height: 6px;
}

.ps>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x,
.ps>.ps__scrollbar-x-rail:active>.ps__scrollbar-x {
    height: 6px;
}

.ps>.ps__scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    right: 0;
    /* there must be 'right' for ps__scrollbar-y-rail */
    width: 6px;
}

.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    right: 2px;
    /* there must be 'right' for ps__scrollbar-y */
    width: 6px;
}

.ps>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y,
.ps>.ps__scrollbar-y-rail:active>.ps__scrollbar-y {
    width: 6px;
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.ps:hover.ps--in-scrolling.ps--x>.ps__scrollbar-x-rail>.ps__scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
    height: 6px;
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
    width: 6px;
}

.ps:hover>.ps__scrollbar-x-rail,
.ps:hover>.ps__scrollbar-y-rail {
    opacity: 0.6;
}

.ps:hover>.ps__scrollbar-x-rail:hover>.ps__scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
}

.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
}

#slimtest3.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

#slimtest4.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: #01c0c8;
}

#slimtest4.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
    background-color: #01c0c8;
}

#slimtest4.ps:hover>.ps__scrollbar-y-rail:hover>.ps__scrollbar-y {
    background-color: #01c0c8;
}

/* SCROLL BAR END */

.sidebar-user{
    display: none;
}

.sidebar-brand, .sidebar-title{
    background: #3b4964;
}

#page-container,
#sidebar,
#sidebar-alt {
    background-color: #fff;
    /* -webkit-box-shadow: 0 0 15px 10px rgb(51 51 51 / 15%);
    box-shadow: 0 0 15px 10px rgb(51 51 51 / 15%); */
}

#sidebar{
    height: calc(100% - 80px);
}

#sidebar-scroll{
    height: calc(100%);
    position: relative;
}

header.admin-top-header{
    padding:5px 10px;
    border-bottom: 1px solid #ccc;
}
header.admin-top-header a.top-links {
    width:40px;
    height: 40px;
    border: 1px solid #3b4964;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    color: #3b4964;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    padding: 0;
    min-width: inherit;
}
.sidebar-content {
    width: 100%;
}

.sidebar-nav a {
    color: #fff;
}

.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus,
a.text-primary,
a.text-primary:hover,
a.text-primary:focus {
    color: #3b4964;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #3b4964;
}

.btn-default {
    background-color: #3b4964;
    border-color: #3b4964;
    color: #fff;
}

.btn-group .delete-form {
    float: left;
}

@media screen and (min-width: 992px) {

    .sidebar-partial #sidebar:hover+#main-container,
    .sidebar-visible-lg #main-container {
        margin-left: 300px;
    }

    .sidebar-partial #sidebar:hover,
    .sidebar-visible-lg #sidebar,
    .sidebar-visible-lg.sidebar-partial #sidebar,
    .sidebar-alt-partial #sidebar-alt:hover,
    .sidebar-alt-visible-lg #sidebar-alt,
    .sidebar-alt-visible-lg.sidebar-alt-partial #sidebar-alt {
        width: 300px;
        opacity: 1;
    }
}



.senior-medical-care-child {
    display: none;
}

.senior-non-medical-care-child {
    display: none;
}

.child-medical-care-child {
    display: none;
}

.child-non-medical-care-child {
    display: none;
}

.sub-category-child {
    display: none;
}

.sub-category-senior {
    display: none;
}

.number-of-children {
    display: none;
}

.kid-additional {
    display: none;
}

.my-kid-love {
    display: none;
}

.senior-additional {
    display: none;
}

.relationship-section {
    display: none;
}

.special-needs-section {
    display: none;
}

.additional-details {
    display: none;
}

.other_mkl {
    display: none;
}

.other-requirements-sec {
    display: none;
}

.main-category {
    width: 47% !important;
}

.sub-category {
    width: 100% !important;
    margin: 0px 0px 0px 20px !important;
}

.add-more-li {
    width: 10px !important;
}

ul.schedule li {
    width: 24%;
    float: left;
    list-style: none;
    padding-right: 1%;
}

.invalid-feedback {
    display: block;
    font-size: 100%;
}

.apply-job-section {
    display: none;
}

.give-review {
    display: none;
}

.give-reply-review {
    display: none;
}

.child-care-child {
    display: none;
}

.senior-care-child {
    display: none;
}

.edit-proposal-section {
    display: none;
}

.check.additional-child ul li {
    width: 32%;
    float: left;
    list-style: none;
    padding-right: 1%;
}

.check.additional-child ul {
    padding-left: 0px;
}

.check.additional ul li {
    width: 50%;
    float: left;
    list-style: none;
}

.check.additional ul {
    padding-left: 0px;
}

/*.col-md-12 .schedule li { width: 24%; float: left; list-style: none; padding-right: 1%;}*/
.more-added-scheduler {
    clear: left;
}

.range {
    width: 95%;
}



/* ========= VERTICAL TABS ========== */

.nav-tab-section {
    border: 1px solid #ccc;
    margin: 25px;
}

.nav-tab-section h2 {
    padding: 15px 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

.tabs-left,
.tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

.tabs-left>li,
.tabs-right>li {
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li {
    margin-right: -1px;
}

.tabs-right>li {
    margin-left: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background: #3b4964;
    color: #fff;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left>li>a {
    border-radius: 0px;
    margin-right: 0;
    display: block;
}

.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}



.vertical-text {
    margin-top: 50px;
    border: none;
    position: relative;
}

.vertical-text>li {
    height: 20px;
    width: 120px;
    margin-bottom: 100px;
}

.vertical-text>li>a {
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
}

.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
    border-bottom-color: transparent;
    border-right-color: #ddd;
    border-left-color: #ddd;
}

.vertical-text.tabs-left {
    left: -50px;
}

.vertical-text.tabs-right {
    right: -50px;
}

.vertical-text.tabs-right>li {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vertical-text.tabs-left>li {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.tab-content>.active {
    padding: 15px 0px;
}

/* ========== TAB END ============*/

.jquery-accordion-menu,
.jquery-accordion-menu * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0
}

.jquery-accordion-menu {
    min-width: 260px;
    float: left;
    position: relative;
    box-shadow: none;
}

.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 50px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    background: #414956
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative
}

.jquery-accordion-menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #3b4964;
    font-weight: 500;
    font-size: 13px;
    background: #414956;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a {
    color: #fff;
    background: #3b424d
}

.jquery-accordion-menu>ul>li>a {
    border-bottom: solid 1px #3b424d
}

.jquery-accordion-menu ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left
}

.jquery-accordion-menu .submenu-indicator {
    background: #3b4964;
    color: #fff;
    font-weight: 600;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0px;
    line-height: 20px;
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height: 16px
}

.jquery-accordion-menu ul ul.submenu li a i {
    width: 20px;
    font-size:12px;
}


.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%
}

.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 12px;
    background: #3b4964;
    color: #fff;
    border-top: none;
    position: relative;
    border-left: solid 6px transparent;
    -o-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -webkit-transition: border .2s linear;
    transition: border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a {
    border-left-color: #414956
}

.jquery-accordion-menu ul ul.submenu>li>a {
    padding: 10px 20px 10px 30px;
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
    padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
    padding-left: 60px
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    min-width: 20px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 11px;
    font-weight: 800;
    color: #555;
    text-align: center;
    line-height: 18px;
    background: #f0f0f0;
    border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
    top: 12px
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,
.blue.jquery-accordion-menu .jquery-accordion-menu-header,
.blue.jquery-accordion-menu ul li a {
    background: #fff;
}

.blue.jquery-accordion-menu>ul>li.active>a,
.blue.jquery-accordion-menu>ul>li:hover>a {
    background: #3b4964;
}

.blue.jquery-accordion-menu>ul>li:hover>a .submenu-indicator,
.blue.jquery-accordion-menu>ul>li:hover>a .submenu-indicator{
    background: #fff;
    color:#3b4964;

}

.blue.jquery-accordion-menu>ul>li>a {
    border-bottom-color: #e5e5e5
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a {
    border-left-color: #3b4964
}

/* SELECT 2 */

#page-content .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    font-size: 14px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    max-width: 280px;
}

#page-content .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
}

.dropdown.bootstrap-select,
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select>.dropdown-toggle {
    background: #fff;
    color: #666;
    font-size: 13px;
    font-weight: 300 !important;
    text-transform: inherit;
    padding: 5px;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    max-width: 97%;
}
